@model List<BTLWNCao.Models.CongTy>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat UI</title>
    <link rel="stylesheet" href="~/css/project.css" />
</head>

<body>
    <div class="container">
        <!-- Main Content Area -->
        <div class="main-content">
            <h2>Các công ty bạn đang tham gia</h2>
            <ul>
                @foreach (var ct in Model)
                {
                    <li>
                        <a asp-controller="DuAn" asp-action="Index" asp-route-maCongTy="@ct.MaCongTy">
                            @ct.TenCongTy
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</body>

</html>
